{% extends "base.html" %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}

<div class="jumbotron mt-5">
  <h1 class="display-5">Listagem de usuários</h1>
  <hr class="my-2">
  <table class="table table-bordered table-inverse table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.ID}}</td>
          <td>{{user.Nome}}</td>
          <td>{{user.Email}}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}