{% extends "base.html" %}

{% block title %} Cadastrar usuário {% endblock %}

{% block content %}

<div class="container">
  <div class="jumbotron mt-5">
    <div class="container">
      <h1 class="display-5 text-center">Adicionar usuário</h1>
      <hr class="my-2">
      <form action="/v1/create" method="POST" class="form-horizontal" form="role">
        <div class="form-group">
          <label for="nome">Nome do usuário</label>
          <input type="text" class="form-control" name="nome" id="nome" aria-describedby="user-name" placeholder="Nome do usuário">
          <small id="helpId" class="form-text text-muted">Digite o nome completo do usuário</small>
        </div>
        <div class="form-group">
          <label for="nome">Email</label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="user-email" placeholder="Emial do usuário" required>
        </div>
        <button class="btn btn-primary" type="submit">Salvar</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
